
@font-face {
    font-family: "Hylia";
    src: url("../fonts/HyliaSerifBeta.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #434343;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#map {
    background-color: #434343;
    height: 1000px !important;
    cursor: default;
}

#btn-popup-marker {
    display: flex;
    justify-content: space-around;
}

#info-popup-marker {
    text-align: left;
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
} #info-popup-marker a:hover { text-decoration: underline !important; }

.map-container {
    display: grid;
    grid-template-columns: repeat(4, 256px); /* 4 columns */
    grid-template-rows: repeat(4, 256px);    /* 4 rows */
    gap: 0px; /* No space between tiles */
    width: fit-content;
    margin: auto;
    padding: 10px;
    position: relative;
    user-select: none;
    transition: transform 0.2s ease;
}

.popupMarker {
    text-align: center;
    max-width: 382px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-template {
    height: 32px;
    width: auto;
    cursor: pointer;
}

.panel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px 10px;
    width: 360px;
    /* height: 714px; */
    background-color: rgba(0, 0, 0, .8);
    box-shadow: 0 16px 32px rgba(0, 0, 0, .6) !important;
    color: white;
    border-radius: 16px;
    z-index: 1000;
}

.panel-flag {
    padding: 8px;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.panel-flag-bandeau {
    display: flex;
    justify-content: space-between;
}
.panel-flag-bandeau button { background: none; border: none }
.panel-flag img { height: 32px; width: auto; filter: invert(100%) brightness(100%); cursor: pointer; }

.panel-controls {
    padding: 8px 3px;
    display: flex;
    flex-wrap: wrap;
}

.panel-controls a {
    background-color: #8585856b;
    text-align: center;
    width: -webkit-fill-available;
    padding: 5px;
    margin: 4px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.panel-flag img:hover, .panel-controls a:hover {
    opacity: 0.7;
}

/* ---------------------------------------- */

.panel-icons {
    border-top: 2px solid rgba(255, 255, 255, .2);
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: -webkit-fill-available;
    margin-bottom: 14px;
}

.icon-panel {
    display: grid;
    text-align: center;
}

.icon-panel img {
    width: 82px;
    margin: 14px auto 4px auto;
    border-radius: 16px;
    pointer-events: none;
}

.icon-panel p {
    margin: 0;
    font-size: smaller;
}

.subtitle {
    font-family: Hylia, sans-serif;
    font-weight: unset;
    margin-bottom: 10px;
    text-align: center;
}

.form-container { 
    display: none; 
}

.form-container.active { 
    display: block; 
}

#login-button { 
    display: inline; 
}

#register-button { 
    display: none; 
}

/* ---------------------------------------- */

.map-container {
    display: grid;
    grid-template-columns: repeat(4, 256px); /* 7 colonnes */
    grid-template-rows: repeat(4, 256px);    /* 5 lignes */
    gap: 0px; /* Pas d'espace entre les tuiles */
    width: fit-content;
    margin: auto;
    padding: 10px;
    position: relative;
    user-select: none;
    transition: transform 0.2s ease;
}

.map-part {
    width: 256px;
    height: 256px;
    pointer-events: none;
    user-select: none;
}

.marker {
    position: absolute;
    height: 24px;
    /* pointer-events: none; */
    transform-origin: bottom center;
    transition: transform 0.2s ease;
}

.marker:hover {
    opacity: 0.6;
}

.capsule-zoom {
    position: absolute;
    display: grid;
    right: 0;
    bottom: 0;
    margin: 20px 20px;
    transform: scale(1.3);
    box-shadow: 0 16px 32px rgba(0, 0, 0, .6) !important;
    border-radius: 16px;
    z-index: 1000;
}

.capsule-zoom a {
    text-decoration: none;
    color: white;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    padding: 1px 7px;
    background-color: rgba(0, 0, 0, .8);
}

/* --------------------------------------- */

#btnconnect {
    /* height: 50px;
    width: 300px;
    background-color: #337AB7;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: medium;
    margin-top: 90px; */

    padding: 8px 3px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

#login-form {
    text-align: center;
}

#emailco {
    position: absolute;
    left: 25px;
    top: 120px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#passco {
    position: absolute;
    left: 25px;
    top: 165px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#register-button {
    color: rgb(24, 81, 165);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 10px;
    margin-bottom: 20px;
}

#register-button:hover {
    color: rgb(11, 63, 139);
    text-decoration: underline;
}

#usere {
    position: absolute;
    left: 25px;
    top: 160px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#passre {
    position: absolute;
    left: 25px;
    top: 205px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#fullre {
    position: absolute;
    left: 25px;
    top: 250px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#emailre {
    position: absolute;
    left: 25px;
    top: 295px;
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

#register-form {
    text-align: center;
}

#registerbtn {
    height: 50px;
    width: 300px;
    background-color: #337AB7;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: medium;
    margin-top: 200px;
    margin-bottom: 20px;
}

/* -------------- */